<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppDelegateLifeCycleMethods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA617CF91C5833DB0084BCF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA617D0D1C5833DC0084BCF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA617D181C5833DC0084BCF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
